*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.cardText {
  text-align: justify !important;
}
.cardBody {
  text-align: center;
}


.NavbarBrand-text {
  font-family: 'Oswald', sans-serif;
}

.landing-cover {
 min-width: 25vh;
 min-height: 25vh;
}

.paraFont{
 font-family: 'Roboto', sans-serif;
}

.carousel-item {
  border-radius: 50px;
}

#nav-bar {
  padding-top: 25px;
  border-radius: 25px;
  background: rgba(117, 155, 8, 0.8);
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
  }

.carousel-control {
border-radius: 50px !important; 
}

.ban1 {
   box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
}

.ban2 {
  box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
  order-radius: 25px;
}